<launch>
  <node pkg="barracuda_mission_planner"
        type="object_to_waypoints_node.py"
        name="object_to_waypoints"
        output="screen"
        ns="barracuda">
    <!-- Adjust topics as needed -->
    <param name="objectposearray_topic" value="object_pose_array" />
    <!-- Service for querying object positions -->
    <param name="get_position_service" value="get_object_position" />
  </node>
</launch>
